<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gonali.qiaokebao.mapper.MsgJobMapper">

    <insert id="insert">
        INSERT INTO tbMsgJob (creatorId,crsId,crsDefName,crsDefLocation,
        crsDatetime,jobName,jobLocation,jobDescribe,jobSDate,jobEDate,
        credit,msgType,geterSex,msgStatus,isGeter,createDate,getDate,isValid)
        VALUES (#{creatorId},#{crsId},#{crsDefName},#{crsDefLocation},
        #{crsDatetime},#{jobName},#{jobLocation},#{jobDescribe},#{jobSDate},#{jobEData},
        #{credit},#{msgType},#{geterSex},#{msgStatus},#{isGeter},#{createDate},#{getDate},#{isValid})
    </insert>

    <update id="updateEndDate">
        UPDATE tbMsgJob SET jobEDate=#{date} WHERE msgId=#{msgId}
    </update>


    <update id="updateGeter">
        UPDATE tbMsgJob SET getDate=#{getDate},isGeter=TRUE WHERE
        smgId=#{msgId}
    </update>

</mapper>