<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gonali.qiaokebao.mapper.SchlInfoMapper">

    <insert id="insert">
        INSERT INTO tbSchlInfo (schlName,schlLocation)
        VALUES (#{schlName},#{schlLocation})
    </insert>

    <update id="update">
        UPDATE tbSchlInfo SET schlName=#{schlName},schlLocation=#{schlLocation}
        WHERE schlId=#{schlId}
    </update>

    <select id="findById" resultType="SchlInfo">
        SELECT * FROM tbSchlInfo WHERE schlId=#{id}
    </select>

</mapper>